.chatCard{
    display: flex;
    width: 310px;
    height: 67px;
    background-color: azure;
}

.chatCardAvatar {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin: 10px;
}

.chatLastMessage {
 font-size: 12px;
 margin-top: 3px;
  margin-bottom: 0px;
  padding: 0px;
}

.chatName{
  font-weight: 600;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  line-height: 15px;
}

.chatUnreadCount {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(51, 105, 243, 1);
    text-align: center;
    color: aliceblue;
}
.chatLastMessageInfoBox{
  width: 20px;
  padding-right: 10px;
}
.chatMessageBox{
 flex-grow: 1;
}