.app{
    display: flex;
    height: 100vh;
}

.leftPanel{
    flex: 1;
    width: 320px;
    background:  rgba(251, 251, 251, 1);
    padding: 10px;
    overflow-y: auto;
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
}
.leftPanel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
    }

.rightPanel{
    flex: 1;
}