:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-weight: 400;

  color: rgba(0, 0, 0, 1);

}

a {
  font-weight: 500;
  color: rgba(51, 105, 243, 1);
  text-decoration: inherit;
}
a:hover {
  color:rgba(51, 105, 243, 1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
 
}



#app {
  display: flex;
 width: 100%;
 height: 100vh;
 justify-content: center;
 align-items: center;
}

.button__title{
  margin: 0px;
  align-self: center;
 
}

button {
  display: flex;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(51, 105, 243, 1);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
  justify-content: center;
  flex-wrap: nowrap;
}
button:hover {
  background-color: rgb(87, 132, 245);
}


.link{
  font-size: 13px;
  color: rgba(51, 105, 243, 1);
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  
  box-shadow: 0px 0px 5px rgb(201, 201, 201);
  min-height: 460px;
  max-height: 615px;
  width: 340px;
  align-self: center;
}


.input{
  margin-bottom: 15px;
 
  height: 32px;
 
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-color:  transparent;
  background-color:  transparent;
  background-clip: padding-box;
  border-bottom: rgba(51, 105, 243, 1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  align-self: stretch;
  
}

.input:focus {
  color: #212529;
  background-color:  transparent;
  border-color: transparent;
  outline: 0;
  border-bottom: rgba(51, 105, 243, 1);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  
}

.input::placeholder {
    color: #212529;
    opacity: 0.4;
    font-size: 16px;
    
  }

  .space{
    flex:1;
  }

  .input-header{
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
  }