:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-weight: 400;

  color: rgba(0, 0, 0, 1);

}

a {
  font-weight: 500;
  color: rgba(51, 105, 243, 1);
  text-decoration: inherit;
}
a:hover {
  color:rgba(51, 105, 243, 1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
 
}



#app {
  display: flex;
 width: 100%;
 height: 100vh;
 justify-content: center;
 align-items: center;
}

.button__title{
  margin: 0px;
  align-self: center;
 
}
input[type=submit]{
  display: flex;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(51, 105, 243, 1);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
  justify-content: center;
  flex-wrap: nowrap;
}
input[type=submit]:hover{
  background-color: rgb(87, 132, 245);
}
button {
  display: flex;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(51, 105, 243, 1);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
  justify-content: center;
  flex-wrap: nowrap;
}
button:hover {
  background-color: rgb(87, 132, 245);
}


.link{
  font-size: 13px;
  color: rgba(51, 105, 243, 1);
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 10px;
  border-radius: 20px;
  
  box-shadow: 0px 0px 5px rgb(201, 201, 201);
  
  width: 340px;
  align-self: center;
 
}


.input{
  margin-bottom: 15px;
 
  height: 32px;
 
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-color:  transparent;
  background-color:  transparent;
  background-clip: padding-box;
  border-bottom: rgba(51, 105, 243, 1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  align-self: stretch;
  
}

.input:focus {
  color: #212529;
  background-color:  transparent;
  border-color: transparent;
  outline: 0;
  border-bottom: rgba(51, 105, 243, 1);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  
}

.input::placeholder {
    color: #212529;
    opacity: 0.4;
    font-size: 16px;
    
  }
 .input:invalid:not(:placeholder-shown):not(:focus) {
    border-bottom: rgb(243, 80, 51);
    border-bottom-style: solid;
  border-bottom-width: 1px;
  }
   /* .input:valid {
    border-bottom: rgba(51, 105, 243, 1);
    border-bottom-style: solid;
  border-bottom-width: 1px;
  } */
  .space{
    height: 80px;
  }

  .input-header{
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .profileLayout{
    display: flex;
    flex: 1;
  }
  .info-row{
    display: flex;
    border-bottom: rgba(234, 234, 234, 1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    flex: 1;
    height: 40px;
    padding-top: 6px;
  }

  .info-row__caption{
    align-self: flex-start;
    
    font-size: 13px;
    font-weight: 500;
    line-height: 13px ;
    padding-right: 10px;
  }
  .info-row__value{
    display: flex;
    flex:1;
    
    justify-content: end;
    font-size: 13px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 13px ;
  }

  .navigation-back{
    display: flex;
    width: 64px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 251, 251, 1);
    transition: background-color 0.25s;
  }

  .navigation-back:hover{
    
    background-color: rgb(236, 244, 253);
  }

  .profile-info{
      display: flex;
      flex-direction: column;
      flex:1;
      padding: 40px 250px;
      margin-bottom: auto;
  }

  .profile-info__avatar{
    align-self: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 10px;
  }

  .profile-info__header{
    display: flex;
    align-self: center;
  }

  .info-row__link{
    align-self: flex-end;
    display: flex;
    align-items: end;
    margin-bottom: 13px;
    flex: 1;
    font-size: 13px;
    font-weight: 500;
    height: 27px;
    color: rgba(51, 105, 243, 1);
  }

  .info-row__input{
    align-self: flex-end;
    font-size: 13px;
    font-weight: 500;
   height: 38px;
    flex:1;
    border-color:  rgba(239, 239, 239, 1);
    background-color:  transparent;
    background-clip: padding-box;
    border: 0px solid rgba(239, 239, 239, 1);
    text-align: right;
    border-bottom: rgba(51, 105, 243, 1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .info-row__input:focus {
    color: #212529;
    background-color:  transparent;
    border-color:  rgba(239, 239, 239, 1);
    outline: 0;
    border-bottom: rgba(51, 105, 243, 1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  form{
   
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
  }