<link rel="stylesheet" type="text/css" href="/style.css"  />
<div class="input-container"> 
    {{>inputHeader text="Вход"}}
{{>input placeholder="Логин" type="login" }}
{{>input placeholder="Пароль" type="password" }}
<div class="space"></div>
{{>button buttonName="Авторизоваться"}}
{{>link href="500.html" text="Нет аккаунта?"}}
</div>