<link rel="stylesheet" type="text/css" href="/style.css"  />
<div class="input-container"> 
    {{>inputHeader text="Регистрация"}}
    {{>input placeholder="Почта" type="email" }}
{{>input placeholder="Логин" type="login" }}
{{>input placeholder="Имя" type="text" }}
{{>input placeholder="Фамилия" type="text" }}
{{>input placeholder="Телефон" type="phone" }}
{{>input placeholder="Пароль" type="password" }}
{{>input placeholder="Пароль (еще раз)" type="password" }}
<div class="space"></div>
{{>button buttonName="Зарегистрироваться"}}
{{>link href="index.html" text="Войти"}}
</div>